.createuser
{
    margin-top: 20px;
}

.block
{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.btn
{
    font-size: 17px;
    border-radius: 10px;
    outline: none;
    font-weight: 500;
    margin-top: 15px;
}
.btn:hover
{
    color: white;
    background-color: blue;
}
.relative
{
    margin-top: 35px;
}